
<nav class="navbar navbar-expand-lg navbar-light bg-info bg-gradient mb-3">
  <div class="container">
    <a class="navbar-brand text-black ps-3 fst-italic" href="#" [routerLink]="['home']">A Bite of Yummy</a>
    <button class="navbar-toggler" type="button" (click)="basicNav.toggle()" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav" mdbCollapse #basicNav="mdbCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" [routerLink]="['home']" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" [routerLink]="['login']" routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item">
          <a *ngIf="user" class="nav-link active" aria-current="page" href="#" [routerLink]="['profile']"
            routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item">
          <a *ngIf="user" class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

