<button mat-button class="menu-button" [routerLink]="['home']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
    <span>Home</span>
</button>
<button mat-button class="menu-button" [routerLink]="['login']" routerLinkActive="active">
    <mat-icon>person</mat-icon>
    <span>Login</span>
</button>
<button *ngIf="user" mat-button class="menu-button" [routerLink]="['profile']" routerLinkActive="active">Profile</button>


<button *ngIf="user" mat-button class="menu-button" (click)="logout()">
    <mat-icon>info</mat-icon>
    <span>Logout</span>
</button>

